<h2>Cadastro de Máquina Virtual</h2>

<form [formGroup]="vmForm" (ngSubmit)="submit()">

  <label>Nome</label>
  <input formControlName="name">
  <div *ngIf="vmForm.get('name')?.invalid && vmForm.get('name')?.touched">
    Nome obrigatório
  </div>

  <label>CPU</label>
  <input type="number" formControlName="cpu">

  <label>Memória</label>
  <input type="number" formControlName="memoryMb">

  <label>Disco</label>
  <input type="number" formControlName="diskGb">

  <button type="submit" [disabled]="vmForm.invalid">Salvar</button>
</form>
