<div class="container">
  <div class="card">

    <h2>Criar nova Máquina Virtual</h2>

    <form [formGroup]="vmForm" (ngSubmit)="submit()">

      <div class="form-group">
        <label>Nome</label>
        <input type="text" formControlName="name">
      </div>

      <div class="form-group">
        <label>CPU</label>
        <input type="number" formControlName="cpu">
      </div>

      <div class="form-group">
        <label>Memória (MB)</label>
        <input type="number" formControlName="memoryMb">
      </div>

      <div class="form-group">
        <label>Disco (GB)</label>
        <input type="number" formControlName="diskGb">
      </div>

      <div class="btn-group">
        <button class="btn btn-primary" type="submit">
          Salvar
        </button>
        <button class="btn btn-secondary" routerLink="/vms" type="button">
          Cancelar
        </button>
      </div>

    </form>

  </div>
</div>
