<div class="container">
  <div class="card">

    <h2>Máquinas Virtuais</h2>

    <a routerLink="/vms/create" class="link-action">
      + Nova Máquina Virtual
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPU</th>
          <th>Memória (MB)</th>
          <th>Disco (GB)</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vm of vms">
          <td>{{ vm.name }}</td>
          <td>{{ vm.cpu }}</td>
          <td>{{ vm.memoryMb }}</td>
          <td>{{ vm.diskGb }}</td>
          <td>
            <span
              class="status-badge"
              [ngClass]="vm.status?.toUpperCase() === 'ON' ? 'status-on' : 'status-off'">
              {{ vm.status }}
            </span>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="toggleStatus(vm)">
                {{ isVmOn(vm) ? 'Desligar VM' : 'Ligar VM' }}
              </button>
              <button class="btn btn-primary" (click)="editVm(vm.id!)">
                Editar
              </button>
              <button class="btn btn-danger" (click)="deleteVm(vm.id!)">
                Excluir
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
